In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("emails.csv")

In [3]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.drop(["Email No."] , axis = 1 , inplace = True)

In [5]:
df.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0

In [6]:
df.isna().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3001, dtype: int64

In [7]:
df.dropna(inplace = True)

In [8]:
df.isna().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3001, dtype: int64

In [18]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

print("Feature shape: ", X.shape)
print("Target shape:",y.shape)

Feature shape:  (5172, 3000)
Target shape: (5172,)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report

In [11]:
X_train , X_test, y_train , y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)
print(X_train)

      the  to  ect  and  for  of    a  you  hou  in  ...  enhancements  \
3164    6   4    2    1    2   8   39    5    2   5  ...             0
2067    0   0    1    0    1   0    3    0    0   0  ...             0
4717   40  28    4   21   12  12  260   24    4  78  ...             0
2505    5   1    1    0    1   1   12    0    0   3  ...             0
2268    6   6    3    1    1   0   64    0    1   7  ...             0
...   ...  ..  ...  ...  ...  ..  ...  ...  ...  ..  ...           ...
4426    0   3    2    0    2   0   16    0    0   1  ...             0
466     4   5    1    0    5   1   28    1    0   1  ...             0
3092    0   0    1    0    1   0    5    0    0   0  ...             0
3772    2  11    1    6    4   5   58   10    0  12  ...             0
860     3   0    1    1    0   1   11    0    0   2  ...             0

      connevey  jay  valued  lay  infrastructure  military  allowing  ff  dry
3164         0    0       0    0               0         0         0   1    0
2067         0    0       0    0               0         0         0   0    0
4717         0    0       0    0               0         0         0   3    0
2505         0    0       0    0               0         0         0   0    0
2268         0    0       0    1               0         0         0   1    0
...        ...  ...     ...  ...             ...       ...       ...  ..  ...
4426         0    0       0    0               0         0         0   0    0
466          0    0       0    0               0         0         0   0    0
3092         0    0       0    0               0         0         0   0    0
3772         0    0       0    0               0         0         0   3    0
860          0    0       0    0               0         0         0   0    0

[4137 rows x 3000 columns]

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

[[-0.05335826 -0.23094458 -0.22596204 ... -0.05721816  0.038821
  -0.06892076]
 [-0.56512747 -0.65294889 -0.29769354 ... -0.05721816 -0.33294395
  -0.06892076]
 [ 2.84666728  2.30108124 -0.08249903 ... -0.05721816  0.7823509
  -0.06892076]
 ...
 [-0.56512747 -0.65294889 -0.29769354 ... -0.05721816 -0.33294395
  -0.06892076]
 [-0.39453774  0.50756295 -0.29769354 ... -0.05721816  0.7823509
  -0.06892076]
 [-0.30924287 -0.65294889 -0.29769354 ... -0.05721816 -0.33294395
  -0.06892076]]

In [13]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train , y_train)
y_pred_knn = knn.predict(X_test)

In [14]:
svm = SVC(kernel = 'linear',random_state = 42)
svm.fit(X_train , y_train)
y_pred_svm = svm.predict(X_test)

In [15]:
print("ðŸ”¹ KNN Model Performance")
print("Accuracy:", accuracy_score(y_test, y_pred_knn))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_knn))
print("Classification Report:\n", classification_report(y_test, y_pred_knn))

print("\nðŸ”¹ SVM Model Performance")
print("Accuracy:", accuracy_score(y_test, y_pred_svm))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_svm))
print("Classification Report:\n", classification_report(y_test, y_pred_svm))

ðŸ”¹ KNN Model Performance
Accuracy: 0.8454106280193237
Confusion Matrix:
 [[593 146]
 [ 14 282]]
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.80      0.88       739
           1       0.66      0.95      0.78       296

    accuracy                           0.85      1035
   macro avg       0.82      0.88      0.83      1035
weighted avg       0.89      0.85      0.85      1035


ðŸ”¹ SVM Model Performance
Accuracy: 0.9468599033816425
Confusion Matrix:
 [[707  32]
 [ 23 273]]
Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.96      0.96       739
           1       0.90      0.92      0.91       296

    accuracy                           0.95      1035
   macro avg       0.93      0.94      0.94      1035
weighted avg       0.95      0.95      0.95      1035

In [26]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score,r2_score,f1_score